/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.container {
  margin: 0 auto;
  width: 1024px;
  font-size: 16px;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 100;
  position: relative; }
  .container header {
    background-color: lightgray;
    padding: 20px 10px; }
    .container header a {
      text-decoration: none;
      background-color: lightcoral;
      color: white;
      padding: 5px;
      border-radius: 10px;
      font-size: 0.875rem;
      font-weight: 100; }
    .container header a:hover {
      background-color: #f36e6e; }
  .container .topBg {
    background-image: url("/assets/Hero.png");
    width: 1024px;
    height: 380px;
    background-position: center center;
    background-size: cover;
    position: relative; }
    .container .topBg h1 {
      position: absolute;
      left: 50%;
      top: 23%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      font-size: 2.5rem;
      color: #ffffff;
      font-weight: 300; }
    .container .topBg #region {
      position: absolute;
      left: 50%;
      top: 70%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      font-size: 1.125rem;
      color: black;
      padding: 12px;
      width: 452px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background: url("/assets/icons_down.png") no-repeat right 10px center transparent;
      background-color: rgba(255, 255, 255, 0.7); }
  .container .hotRegion {
    margin: 0 auto;
    width: 800px;
    height: 112px;
    background-color: #ffffff;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    position: absolute;
    z-index: 100;
    top: 450px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
    .container .hotRegion h3 {
      font-size: 1.125rem;
      font-weight: 500;
      margin: 20px 0px 10px 15px; }
    .container .hotRegion ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
      justify-content: space-around; }
      .container .hotRegion ul li {
        text-align: center;
        border-radius: 5px; }
        .container .hotRegion ul li a {
          text-decoration: none;
          color: #ffffff;
          font-size: 1.25rem;
          font-weight: 300;
          line-height: 42px;
          display: inline-block;
          width: 130px;
          height: 42px; }
  .container .list {
    padding: 100px 0px 30px 0px;
    background-color: #f5f5f5; }
    .container .list .divide {
      margin: 0 auto;
      width: 80%;
      height: 2px;
      background-image: -webkit-gradient(linear, left top, right top, from(#559ac8), color-stop(50%, #559ac8), color-stop(50%, transparent));
      background-image: -webkit-linear-gradient(left, #559ac8 0%, #559ac8 50%, transparent 50%);
      background-image: -o-linear-gradient(left, #559ac8 0%, #559ac8 50%, transparent 50%);
      background-image: linear-gradient(to right, #559ac8 0%, #559ac8 50%, transparent 50%);
      background-size: 10px 1px;
      background-repeat: repeat-x;
      position: relative; }
      .container .list .divide .circle {
        margin: 0 auto;
        top: -10px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 2px solid #559ac8;
        background-color: #f5f5f5;
        position: relative; }
        .container .list .divide .circle .triangle {
          position: absolute;
          top: 60%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          margin: 0 auto;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 10px 6px 0 6px;
          border-color: #559ac8 transparent transparent transparent; }
    .container .list .regionList {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      .container .list .regionList li {
        width: 45%;
        background-color: #ffffff;
        margin-top: 20px;
        color: #000; }
        .container .list .regionList li .picture {
          height: 155px;
          background-position: center center;
          background-size: cover;
          position: relative;
          color: #fff; }
          .container .list .regionList li .picture .hotSpot {
            position: absolute;
            bottom: 7%;
            left: 5%;
            font-size: 1.5rem;
            font-weight: 100; }
          .container .list .regionList li .picture .location {
            position: absolute;
            bottom: 7%;
            right: 5%;
            font-weight: 100; }
        .container .list .regionList li .info {
          padding: 10px 20px;
          font-weight: 300;
          position: relative; }
          .container .list .regionList li .info div {
            background-repeat: no-repeat;
            min-height: 18px;
            padding-left: 28px;
            margin-top: 10px; }
          .container .list .regionList li .info .businessHour {
            background-image: url("/assets/icons_clock.png"); }
          .container .list .regionList li .info .adress {
            background-image: url("/assets/icons_pin.png"); }
          .container .list .regionList li .info .phone {
            background-image: url("/assets/icons_phone.png");
            margin-left: 3px;
            padding-left: 25px; }
          .container .list .regionList li .info .admissionFree {
            background-image: url("/assets/icons_tag.png");
            position: absolute;
            bottom: 15%;
            right: 5%; }
      .container .list .regionList li:last-child:nth-child(2n - 1) {
        margin-right: 50%; }
  .container .showData h2 {
    margin-top: 70px;
    margin-bottom: 30px;
    font-size: 2.25rem;
    font-weight: 300;
    color: #8a82cc;
    text-align: center; }
  .container .showData #pagination-container {
    margin-top: 50px; }
    .container .showData #pagination-container .paginationjs {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
  .container footer {
    background-color: #559AC8;
    padding-top: 15px;
    padding-bottom: 10px;
    font-size: 0.875rem;
    text-align: center; }
    .container footer h3 {
      color: #ffffff;
      padding: 8px; }
    .container footer p {
      color: #FFD366;
      padding: 8px; }
  .container .goTop {
    width: 24px;
    height: 24px;
    background: #000;
    background-image: url("/assets/btn_goTop.png");
    display: inline-block;
    position: fixed;
    right: 14.5%;
    bottom: 0%; }
